[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/TextObjectify"]
	path = vim/bundle/TextObjectify
	url = https://github.com/paradigm/TextObjectify.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
